#input-container {
    width: 100%;
    font-size: 12px;
}

#input-field {
    background-color: black;
    border: none;
    color: aqua;
}

.username {
    color: greenyellow;
    font-weight: bold;
}

.location {
    color: cornflowerblue;
    font-weight: bold;
}

textarea:focus, input:focus {
    outline: none;
}