#input-container {
    float:none;
    overflow:hidden;
}

#prefix-container{
    float: left;
}

#input-field {
    background-color: black;
    width: 100%;
    border: none;
    color: aqua;
}

.input-wrapper {
    width: 100%;
    font-size:12px;
}

.username {
    color: greenyellow;
    font-weight: bold;
}

.location {
    color: cornflowerblue;
    font-weight: bold;
}

textarea:focus, input:focus {
    outline: none;
}