@using static SjoaChallenge.TerminalComponents.OutputLineComponent;
@using SjoaChallenge.Services
@inject IJSRuntime JS
@inject UserService UserService
@inject CommandService CommandService

<div id="output-container">
    @foreach (var outputLine in outputLines)
    {
        <OutputLineComponent Output="@outputLine" />
    }
</div>

@code {
    [Parameter] public string Username { get; set; } = string.Empty;
    [Parameter] public string Location { get; set; } = string.Empty;
    private ICollection<OutputLine> outputLines { get; set; } = new List<OutputLine>(){ 
        new OutputLine("<h3>CTF Challenge</h3><p>Velkommen til Sandvika Drammen områdetur 2023 CTF Challenge.</p>"
        + "<p>Du har nå forvillet deg inn i en hjemmesnekra terminal. Det DU skal gjøre... får du nesten finne ut av selv.</p>"
        + "<p>Star ved å skrive inn 'help'. Lykke til! </p>")};


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CommandService.Initialization;
        }
    }

    public async Task<string> ProcessCommand(string input)
    {
        await JS.InvokeVoidAsync("scrollToBottom");

        if (input.EqualsIgnoreCase("clear"))
        {
            outputLines.Clear();
        }
        else
        {
            var outputLine = new OutputLine(input, Username, Location);
            outputLines.Add(outputLine);
            var commandOutput =  await CommandService.HandleCommand(input);

            if (!string.IsNullOrEmpty(commandOutput.directory)) 
            {
                Location = commandOutput.directory;
            }
            else if(!string.IsNullOrEmpty(commandOutput.html))
            {
                var commandOutputLine = new OutputLine(commandOutput.html);
                outputLines.Add(commandOutputLine);
            }            
        }

        StateHasChanged();

        return Location;
    }
}
