@page "/terminal"
@using SjoaChallenge.TerminalComponents
@using SjoaChallenge.Utilities
@using SjoaChallenge.Services
@inherits ComponentBase
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject LocationService LocationService

<div id="terminal">
    <OutputComponent Username="@username" Location="@location" @ref="outputComponent" />
    <form @onsubmit=HandleInput>
        <InputComponent Username="@username" Location="@location" @ref="inputComponent" />
    </form>    
</div>

@code {
    private OutputComponent? outputComponent = new OutputComponent();
    private InputComponent? inputComponent = new InputComponent();
    private string username = string.Empty;
    private string location = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        if(await UserService.IsLoggedIn())
        {
            username = await UserService.GetUsername();
            location = await LocationService.GetLocation();
            return;
        }

        NavigationManager.NavigateTo("");
    }

    private async Task HandleInput()
    {
        if (inputComponent == null || outputComponent == null) return;

        var input = inputComponent.GetInput();
        await outputComponent.ProcessCommand(input);
    }
}

