html, body {
    all: unset;
    background-color: black !important;
    background-image: none;
}

#terminal {
    color: white;
    background: black;
    height: 100%;
    font-family: 'Cascadia Code'; 
    padding: 0 5px;
}