@page "/"
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager;
@inject ILogger<Index> Logger
@inject IConfiguration Configuration
@inject IJSRuntime JS

@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<PageTitle>Index</PageTitle>

<div>
    <Flicker />
    <div class="input-wrapper">
        <input type="text" @bind="Text" @oninput="HandleSubmit" />
    </div>
</div>

@code {
    private string Text { get; set; } = string.Empty;
    public InitialSolution initialSolution = new();

    private async Task HandleSubmit(ChangeEventArgs e)
    {
        if (e.Value?.ToString()?.Length > 6)
        {
            Text = string.Empty;
            StateHasChanged();
            return;
        } 
        if (string.Compare("bouvet", e.Value?.ToString(), true) == 0)
        {
            Logger.LogInformation("HandleSubmit called with value {0}", e.Value);
            var remoteUserAgent = await JS.InvokeAsync<string>("getUserAgent");

            await SessionStorage.SetItemAsStringAsync("LoggedIn", "true");
            NavigationManager.NavigateTo("terminal");
        }
    }

    public class InitialSolution
    {
        public string? Answer { get; set; }
    }
}